/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: wheat;
}

/* Portada */
.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: burlywood;
    text-align: center;
}

.portada h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.texto {
    padding: 60px;
}

/* Capítulo 1 - Casa de paja */
.paja {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #f5deb3;
}